@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0 auto;
}

.dark {
  background-color: #0d1117;
}

.app {
  @apply w-screen h-full bg-white dark:bg-black; /* IE6-9 fallback on horizontal gradient */
}

.notebook {
  background: #000951; /* Old browsers */
  background: -moz-linear-gradient(-45deg, #000630 0%, #0f011d 100%, #000951 100%, #0f011d 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #000951 0%,#0f011d 100%,#000951 100%,#0f011d 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(70deg, #252e72 0%,#140126 100%,#000951 100%,#0f011d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000951', endColorstr='#0f011d',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.grad {
  background: #0f1318; /* Old browsers */ /* IE6-9 fallback on horizontal gradient */
}

.overlay {
    position: fixed; /* Sit on top of the page content */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
}

.rah-hint {
  @apply dark:text-gray-400 !important;
}